@model IEnumerable<MVCProjectv2.Models.Joke>
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JokeQuestion)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        @if (@User.FindFirst(ClaimTypes.NameIdentifier).Value == item.UserId)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JokeQuestion)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        else
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.JokeQuestion)
                    </td>

                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
        }
    }
    </tbody>
</table>
